.text-containers {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.containers {
  display: flex;
}

.text-containers {
  width: 100%;
}
.videoContainer {
  position: absolute;
}
.heartContainer {
  position: relative;
}
/* FindRecipe.style.css 파일에 추가 */

input::placeholder {
  color: #999999 !important; /* 원하는 색상으로 변경 */
  opacity: 1; /* 기본적으로 일부 브라우저에서 투명도가 적용되므로, 불투명하게 만듦 */
}

/* Firefox 전용 */
input::-moz-placeholder {
  color: #999999 !important; /* 원하는 색상으로 변경 */
  opacity: 1;
}

/* Internet Explorer 전용 */
input:-ms-input-placeholder {
  color: #999999 !important; /* 원하는 색상으로 변경 */
  opacity: 1;
}

/* Edge 브라우저 전용 */
input::-ms-input-placeholder {
  color: #999999 !important; /* 원하는 색상으로 변경 */
  opacity: 1;
}

/* Webkit 브라우저 (Chrome, Safari 등) 전용 */
input::-webkit-input-placeholder {
  color: #999999 !important; /* 원하는 색상으로 변경 */
  opacity: 1;
}
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
button {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: rgb(100, 100, 100); /* 텍스트 색상 설정 */
}
/* For smaller screens (max-width: 600px), adjust input and button layout */
@media (max-width: 600px) {
  .search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search-container input {
    width: 100%; /* Make input take full width */
    margin-bottom: 10px; /* Add some space between input and button */
  }

  .search-container button {
    width: 100%; /* Make button take full width */
  }
}
